<a href="https://colab.research.google.com/github/LaraMusss/PyHomeWork/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import random
import pandas as pd

lst= ['robot']*10
lst+= ['human']*10
random.shuffle(lst)

def set_one_hot(row):
    if row['whoAmI'] == 'robot':
        row['robot'] = True
    elif row['whoAmI'] == 'human':
        row['human'] = True
    return row
    print(data.head())

In [19]:
data = pd.DataFrame().assign(robot=False, human=False)

In [20]:
data=data.assign(whoAmI=lst).apply(set_one_hot, axis=1)

In [21]:
data=data.drop(columns=['whoAmI'])

In [22]:
data

   robot human
0    NaN  True
1    NaN  True
2   True   NaN
3   True   NaN
4   True   NaN
5    NaN  True
6   True   NaN
7   True   NaN
8    NaN  True
9    NaN  True
10   NaN  True
11   NaN  True
12   NaN  True
13  True   NaN
14  True   NaN
15   NaN  True
16  True   NaN
17   NaN  True
18  True   NaN
19  True   NaN